In [6]:
import pandas as pd

df1 = pd.read_csv(f'../data/Curia_Binding_Analysis_on_MinD - top_98.csv', header=0)
df1.rename(columns = {'Common':'TAG'}, inplace=True)
df1 = df1[['Name','SMILES', 'TAG']]
df1 = df1[df1['TAG'].isin(['common_04', 'common_05'])]
df1.to_csv(f'../data/clustering_top_molecules_minD_common_4_5.csv', index=False)
display(df1.head())
print(df1.shape)

        Name                                             SMILES        TAG
0  curia1063  Cc1ccc(NC(=O)N2CCC3(CC2)c2c(-c4cn(nc34)C3CCOCC...  common_04
1  curia0735        Fc1cc(ccc1)C(=O)N1CCN(CC1)c1noc(n1)c1ccccc1  common_04
2  curia2415  Cn1nc(C(=O)N2CCC3(CN(C(=O)O3)c3ncccc3)CC2)c2c1...  common_04
3  curia2421  Cn1nc(C(=O)N2CCC3(CN(C(=O)O3)c3cc(Cl)ccc3)CC2)...  common_04
4  curia3810  CC(=O)N1CC2(CN(C2)S(=O)(=O)c2ccc(C)cc2C)CC1c1c...  common_04

(79, 3)

In [22]:
df1['TAG'].unique()

array(['common_04', 'common_05', 'common_06'], dtype=object)

In [26]:
df2 = pd.read_csv('MMV_3558.csv')
df2['TAG'] = 'In_house_curated'

display(df2.head())
print(df2.shape)

,ID,Canonical Smiles,TAG
0,CHEMBL83506,CC(C)(C)NC(=O)[C@@H]1C[C@@H]2CCCC[C@@H]2CN1C[C...,In_house_curated
1,CHEMBL3706525,CC(C)(C)NC(=O)[C@@H]1C[C@@H]2CCCC[C@@H]2CN1C[C...,In_house_curated
2,CHEMBL296480,CC(C)(C)NC(=O)[C@@H]1CC2CCCCC2CN1C[C@@H](O)[C@...,In_house_curated
3,CHEMBL405969,CC(C)(C)NC(=O)[C@@H]1C[C@@H]2CCCC[C@@H]2CN1C[C...,In_house_curated
4,CHEMBL3350205,CC(C)(C)NC(=O)[C@@H]1CC2CCCCC2CN1C[C@H](O)[C@H...,In_house_curated

(3558, 3)

In [27]:
df_concat = pd.concat([df1, df2], ignore_index=True)
df_concat = df_concat.drop(columns=['ID'])
df_concat = df_concat.rename(columns={'Canonical Smiles': 'SMILES'})
df_concat = df_concat.reindex(columns=['TAG', 'SMILES'])
df_concat = df_concat.dropna()
df_concat.to_csv('22k.csv', index=False)

display(df_concat.head())
print(df_concat.shape)

        TAG                                             SMILES
0  from_MMV             COc1ccccc1CNC(=O)CCN2C(=O)Nc3ccsc3C2=O
1  from_MMV  CN(C)c1ccc(cc1)C(O)(c2ccc(cc2)N(C)C)c3ccc(cc3)...
2  from_MMV  c1(cc(c2ccc(C)cc2)n3)n3ccnc1SCC(=O)Nc(c(Cl)ccc...
3  from_MMV  CCOC(=O)C1=C(N=C2SC(=Cc3cc(C)n(c3C)c4ccc(F)cc4...
4  from_MMV      CCOC(=O)c1cnc2c(C)cc(C)cc2c1Nc3ccc(OC)c(OC)c3

(22881, 2)

In [4]:
df = pd.read_csv('mtb_permeability.txt', delimiter='\t')
df = df[['Smiles', 'MtbPen']]
df = df.rename(columns={'Smiles':'SMILES', 'MtbPen':'TAG'})
df['TAG'] = 'Model trained on'
display(df.head())
print(df.shape)

                                SMILES               TAG
0                 Nc(c(O)ccc1)c1C(O)=O  Model trained on
1                         Nc(cc1)ccc1O  Model trained on
2                    OC(CCCCC1SSCC1)=O  Model trained on
3  OS(c1cccc2cccc(Nc3ccccc3)c12)(=O)=O  Model trained on
4         Oc(cccc1Cc2cccc(O)c22)c1C2=O  Model trained on

(5371, 2)

In [6]:
df1 = pd.read_csv('385_mols.csv')
df1 = df1[['SMILES', 'TAG']]
df1['TAG'] = 'common_to_4_5_6'
display(df1.head())
print(df1.shape)

                                              SMILES              TAG
0  Cc1cc(C(=O)N2CCCCC2c2nc(no2)c2ccccc2)c2n[nH]cc2c1  common_to_4_5_6
1    O=c1cc(CN2CCCC(C2)n2cnc3ccccc3c2=O)[nH]c2ccnn12  common_to_4_5_6
2  CC1(C)C2CCC1(C)c1c2c(nn1c1ccccc1)C(=O)Nc1cccc(...  common_to_4_5_6
3  CCn1c(=O)c(=O)[nH]c2cc(ccc12)C(=O)N1CCC(=CC1)c...  common_to_4_5_6
4  Cc1ccc2[nH]c(cc2c1C)C(=O)N1CCC(CC1)c1c[nH]c2nc...  common_to_4_5_6

(214, 2)

In [9]:
df2 = pd.read_csv('top20_all_conf.csv')
df2 = df2.rename(columns = {'Name': 'TAG'})
df2 = df2[['SMILES', 'TAG']]
df2['TAG'] = 'individuals'
display(df2.head())
print(df2.shape)

                                              SMILES          TAG
0      CC(NC(=O)Nc1nnc(s1)C1CCCO1)c1cccc(c1)C(F)(F)F  individuals
1      Cc1cc(c2nnc(CCc3nc(no3)c3ccccn3)o2)c2ccccc2n1  individuals
2       CC(C)(NC(=O)Nc1cccc2ccc(F)cc12)c1nnc2CCCCn12  individuals
3  O=C(CCc1nc2ccccc2c(=O)[nH]1)N1CCC(CC1)n1c(=O)[...  individuals
4  Cc1n[nH]c2c(ncnc12)N1CCN(CC1)S(=O)(=O)c1ccc2cc...  individuals

(47, 2)

In [13]:
df3 = pd.concat([df1, df2], ignore_index=True)
df3['TAG'] = 'mols_binding_minD'
display(df3.head())
print(df3.shape)

                                              SMILES                TAG
0  Cc1cc(C(=O)N2CCCCC2c2nc(no2)c2ccccc2)c2n[nH]cc2c1  mols_binding_minD
1    O=c1cc(CN2CCCC(C2)n2cnc3ccccc3c2=O)[nH]c2ccnn12  mols_binding_minD
2  CC1(C)C2CCC1(C)c1c2c(nn1c1ccccc1)C(=O)Nc1cccc(...  mols_binding_minD
3  CCn1c(=O)c(=O)[nH]c2cc(ccc12)C(=O)N1CCC(=CC1)c...  mols_binding_minD
4  Cc1ccc2[nH]c(cc2c1C)C(=O)N1CCC(CC1)c1c[nH]c2nc...  mols_binding_minD

(261, 2)

In [15]:
df4 = pd.concat([df, df3], ignore_index=True)

df4.to_csv('test_chemical_space.csv', index=False)
display(df4.head())
print(df4.shape)

                                SMILES               TAG
0                 Nc(c(O)ccc1)c1C(O)=O  Model trained on
1                         Nc(cc1)ccc1O  Model trained on
2                    OC(CCCCC1SSCC1)=O  Model trained on
3  OS(c1cccc2cccc(Nc3ccccc3)c12)(=O)=O  Model trained on
4         Oc(cccc1Cc2cccc(O)c22)c1C2=O  Model trained on

(5632, 2)